name: Python CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install bandit pip-audit

      - name: Rodar Lint (flake8)
        run: |
          flake8 . --tee --output-file flake8-report.txt


      - name: Rodar Testes (pytest)
        run: |
          pytest --maxfail=1 --disable-warnings -q --junitxml=pytest-report.xml


      - name: Rodar Segurança (pip audit)
        run: |
          pip-audit || true

      - name: Rodar Análise de Código (Bandit)
        run: |
          bandit -r . -x venv -s B101


      - name: Instalar Gitleaks
        run: |
          GITLEAKS_VERSION=$(curl -s https://api.github.com/repos/gitleaks/gitleaks/releases/latest | \
          python -c "import sys, json; print(json.load(sys.stdin)['tag_name'])")
          echo "Baixando Gitleaks $GITLEAKS_VERSION"
          curl -sL "https://github.com/gitleaks/gitleaks/releases/download/${GITLEAKS_VERSION}/gitleaks_${GITLEAKS_VERSION#v}_linux_x64.tar.gz" -o gitleaks.tar.gz
          tar -xzf gitleaks.tar.gz
          sudo mv gitleaks /usr/local/bin/gitleaks
          gitleaks version


      - name: Rodar Gitleaks (segredos no git)
        run: |
          gitleaks detect \
          --source . \
          --report-format json \
          --report-path gitleaks-report.json \
          --exit-code 1

